.vagrant
*.pyc
*.pyo
*.swp
*.html
*.class
*.orig
*.rej
*~
__pycache__

build
dist
doc/_build/
tox.egg-info
.tox
.venv
.cache
.python-version

coverage.xml
htmlcov

.idea
.eggs/
py27/

.*_cache
_draft.rst

tasks/credentials.json
