/.*_cache
/build
/dist
/docs/_draft.rst
/src/tox/version.py
/toxfile.py
/Dockerfile
/.tox
*.py[co]
__pycache__
*.swp
*.egg-info
/tests/demo_pkg_setuptools/build/lib/demo_pkg_setuptools/__init__.py
/tests/demo_pkg_inline.lock
/tests/demo_pkg_inline/.tox/
