repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.36.1
    hooks:
      - id: check-github-workflows
        args: ["--verbose"]
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies: ["tomli>=2.4"]
  - repo: https://github.com/tox-dev/pyproject-fmt
    rev: "v2.12.1"
    hooks:
      - id: pyproject-fmt
  - repo: https://github.com/abravalheri/validate-pyproject
    rev: "v0.24.1"
    hooks:
      - id: validate-pyproject
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.14.14"
    hooks:
      - id: ruff-check
        args: ["--fix", "--unsafe-fixes", "--exit-non-zero-on-fix"]
      - id: ruff-format
  - repo: https://github.com/asottile/blacken-docs
    rev: 1.20.0
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==26.1]
  - repo: https://github.com/LilSpazJoekp/docstrfmt
    rev: v2.0.2
    hooks:
      - id: docstrfmt
        args: ["-l", "120"]
        additional_dependencies: ["sphinx>=9.1"]
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: rst-backticks
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: "v3.8.1"
    hooks:
      - id: prettier
  - repo: local
    hooks:
      - id: changelogs-rst
        name: changelog filenames
        language: fail
        entry: "changelog files must be named ####.(feature|bugfix|doc|removal|misc).rst"
        exclude: ^docs/changelog/(\d+\.(feature|bugfix|doc|removal|misc).rst|template.jinja2)
        files: ^docs/changelog/
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
