repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: check-builtin-literals
      - id: check-docstring-first
      - id: check-yaml
      - id: check-toml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-case-conflict
      - id: check-merge-conflict
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v2.2.1
    hooks:
      - id: add-trailing-comma
        args: [--py36-plus]
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.29.1
    hooks:
      - id: pyupgrade
        args: ["--py37-plus"]
        exclude: "^(tests/demo_pkg_inline/build.py)$"
      - id: pyupgrade
        files: "^(tests/demo_pkg_inline/build.py)$"
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0
    hooks:
      - id: rst-backticks
  - repo: https://github.com/psf/black
    rev: 21.12b0
    hooks:
      - id: black
        args: [--safe]
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v2.5.1"
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@2.5.1
          - "@prettier/plugin-xml@1.1.0"
        args: ["--print-width=120", "--prose-wrap=always"]
  - repo: https://github.com/asottile/blacken-docs
    rev: v1.12.0
    hooks:
      - id: blacken-docs
        additional_dependencies: [black==21.12b0]
  - repo: https://github.com/asottile/setup-cfg-fmt
    rev: v1.20.0
    hooks:
      - id: setup-cfg-fmt
  - repo: https://github.com/tox-dev/tox-ini-fmt
    rev: "0.5.1"
    hooks:
      - id: tox-ini-fmt
        args: ["-p", "fix"]
  - repo: https://github.com/PyCQA/flake8
    rev: "4.0.1"
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-bugbear==21.11.29
          - flake8-comprehensions==3.7
          - flake8-pytest-style==1.5.1
          - flake8-spellcheck==0.24
          - flake8-unused-arguments==0.0.9
          - flake8-noqa==1.2.1
          - pep8-naming==0.12.1
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.30.0
    hooks:
      - id: markdownlint
  - repo: local
    hooks:
      - id: changelogs-rst
        name: changelog filenames
        language: fail
        entry: "changelog files must be named ####.(feature|bugfix|doc|removal|misc).rst"
        exclude: ^docs/changelog/(\d+\.(feature|bugfix|doc|removal|misc).rst|README.rst|template.jinja2)
        files: ^docs/changelog/
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes
