include CHANGELOG
include README.txt
include LICENSE 
include setup.py
include tox.ini
graft doc
graft tests
prune doc/_build
exclude *.orig 
exclude *.rej 
recursive-exclude tox *.pyc *$py.class
recursive-exclude doc *.pyc *$py.class
recursive-exclude tests *.pyc *$py.class
prune .hg 
