[build-system]
requires = ["setuptools>=58", "setuptools-scm>=6"]
build-backend = "setuptools.build_meta"

[tool.black]
line-length = 120

[tool.isort]
line_length = 120
profile = "black"
known_first_party = ["tox", "tests"]

[tool.setuptools_scm]
write_to = "src/tox/version.py"

[tool.towncrier]
name = "tox"
filename = "docs/changelog.rst"
directory = "docs/changelog"
title_format = false
issue_format = "`#{issue} <https://github.com/tox-dev/tox/issues/{issue}>`_"
template = "docs/changelog/template.jinja2"
# possible types, all default: feature, bugfix, doc, removal, misc
