blockquote {
  border-left: none;
  font-style: normal;
  margin-left: 1.5rem;
  margin-right: 0;
  padding: 0;
}

.mermaid svg {
  max-height: 800px !important;
  min-height: 200px !important;
  height: auto !important;
}

body[data-theme="dark"] .mermaid {
  filter: invert(0.88) hue-rotate(180deg);
}

@media (prefers-color-scheme: dark) {
  body:not([data-theme="light"]) .mermaid {
    filter: invert(0.88) hue-rotate(180deg);
  }
}
